torch==2.2.1
torchvision==0.17.1
diffusers==0.32.2
transformers==4.38.0
huggingface_hub[cli]
psutil
accelerate
"numpy<2"
ttnn @ https://github.com/tenstorrent/tt-metal/releases/download/v0.59.0-rc56/ttnn-0.59.0rc56-cp310-cp310-manylinux_2_34_x86_64.whl
